<a href="https://colab.research.google.com/github/ALAN124RGRTGRT/laboratorio1044/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from os import path
from pathlib import Path
path = "/content/drive/MyDrive/conjunto de datos/example (1).txt"
open (path).readline()

'{ "a": "Mozilla\\/5.0 (Windows NT 6.1; WOW64) AppleWebKit\\/535.11 (KHTML, like Gecko) Chrome\\/17.0.963.78 Safari\\/535.11", "c": "US", "nk": 1, "tz": "America\\/New_York", "gr": "MA", "g": "A6qOVH", "h": "wfLQtf", "l": "orofrog", "al": "en-US,en;q=0.8", "hh": "1.usa.gov", "r": "http:\\/\\/www.facebook.com\\/l\\/7AQEFzjSi\\/1.usa.gov\\/wfLQtf", "u": "http:\\/\\/www.ncbi.nlm.nih.gov\\/pubmed\\/22415991", "t": 1331923247, "hc": 1331822918, "cy": "Danvers", "ll": [ 42.576698, -70.954903 ] }\n'

In [45]:
import json
path = "/content/drive/MyDrive/conjunto de datos/example (1).txt"
records = [json.loads(line) for line in open(path)]

In [33]:
from pickleshare import time
import json
path ="/content/drive/MyDrive/conjunto de datos/example (1).txt"

time_zones = [rec["tz"] for rec in records if "tz" in rec]

def get_counts(sequence):
  counts = {}
  for x in sequence:
    if x in counts:
      counts [x]+=1
    else:
        counts [x]=1
    return counts

In [60]:
import json
import numpy as np
from pandas import DataFrame, Series

records = [json.loads(line) for line in open(path)]

path = "/content/drive/MyDrive/Conjunto de datos/example.txt"
frame = DataFrame(records)

cframe = frame[frame.a.notnull()]
operating_system = np.where(cframe['a'].str.contains('Windows'), 'Windows', 'Not Windows')
operating_system[:5]

array(['Windows', 'Not Windows', 'Windows', 'Not Windows', 'Windows'],
      dtype='<U11')

In [61]:

In [289]: from pandas import DataFrame, Series
In [290]: import pandas as pd
In [291]: frame = DataFrame(records)
In [292]: frame
Out[292]:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3560 entries, 0 to 3559
Data columns:

SyntaxError: ignored

In [50]:
import json

path = "/content/drive/MyDrive/Conjunto de datos/example.txt"

time_zones = [rec ['tz'] for rec in records if 'tz' in rec]

def get_counts(sequence):
  counts={}
  for x in sequence:
    if x in counts:
      counts [x]+=1
    else:
        counts [x]=1
        return counts


from collections import defaultdict
def get_counts2(sequence):
  counts=defaultdict(int)
  for x in sequence:
    if x in counts:
      counts [x]+=1
  return counts

counts = get_counts(time_zones)
counts['America/New_York']

1

In [55]:
import json

path = "/content/drive/MyDrive/Conjunto de datos/example.txt"

time_zones = [rec['tz'] for rec in records if 'tz' in rec]
counts = get_counts(time_zones)
from collections import Counter
counts = Counter(time_zones)
counts.most_common(10)

[('America/New_York', 1251),
 ('', 521),
 ('America/Chicago', 400),
 ('America/Los_Angeles', 382),
 ('America/Denver', 191),
 ('Europe/London', 74),
 ('Asia/Tokyo', 37),
 ('Pacific/Honolulu', 36),
 ('Europe/Madrid', 35),
 ('America/Sao_Paulo', 33)]

In [51]:
import json

path = "/content/drive/MyDrive/Conjunto de datos/example.txt"

time_zones = [rec['tz'] for rec in records if 'tz' in rec]
counts = get_counts(time_zones)
from collections import Counter
counts = Counter(time_zones)
counts.most_common(10)
In [19]: records[0]['tz']
Out[19]: u'America/New_York'

In [54]:
import json
path = "/content/drive/MyDrive/conjunto de datos/example (1).txt"
records = [json.loads(line) for line in open(path)]
In [19]: records[0]['tz']
Out[19]: u'America/New_York'
time_zones = [rec['tz'] for rec in records if 'tz' in rec]
counts = get_counts(time_zones)
from collections import Counter
counts = Counter(time_zones)
counts.most_common(10)
In [19]: records[0]['tz']
Out[19]: u'America/New_York'

In [57]:
In [19]: records[0]['tz']
Out[19]: u'America/New_York'